<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.chagok.mapper.accountMapper">
  
  	<!-- 계좌 정보 저장 -->
  	<insert id="insertAccountInfo" parameterType="java.util.List">
  		insert into account(fintech_use_num, account_alias, bank_code_std, bank_name, account_num_masked, account_holder_name, account_type, mno) 
  		values 
  		<foreach collection="list" item="li" separator=",">
  			(#{li.fintech_use_num}, #{li.account_alias}, #{li.bank_code_std}, #{li.bank_name}, #{li.account_num_masked}, 
  			#{li.account_holder_name}, #{li.account_type}, #{li.mno})
  		</foreach>
  	</insert>
  	
  	<insert id="insertAccountHistory">
  		insert into account_history(tran_date, tran_time, inout_type, tran_amt, after_balance_amt, branch_name, fintech_use_num, bank_tran_id) 
  		values (#{tran_date}, #{tran_time}, #{inout_type}, #{tran_amt}, #{after_balance_amt}, #{branch_name}, #{fintech_use_num}, #{bank_tran_id}) 
  	</insert>
  	
  	<insert id="insertCardInfo">
  		insert into card(card_id, bank_tran_id, user_seq_no, card_num_masked, card_name)
  		values (#{card_id}, #{bank_tran_id}, #{user_seq_no}, #{card_num_masked}, #{card_name})
  	</insert>
  	
  	<select id="getAccountInfo" resultType="com.chagok.apiDomain.AccountVO">
  		select * from account where mno = #{mno}
  	</select>
  	
  	<select id="getBalanceAmt" resultType="com.chagok.apiDomain.AccountHistoryVO">
  		select * from account_history where fintech_use_num = #{fintech_use_num} 
  		order by tran_date DESC limit 1
  	</select>
  	
	<update id="updateBalanceAmt">
		update account set balance_amt = #{balance_amt}  
		where fintech_use_num = #{fintech_use_num}
	</update>
	
	<select id="getCardInfo" resultType="com.chagok.apiDomain.CardInfoVO">
		select * from card where user_seq_no = #{user_seq_no}
	</select>
	  	
	<select id="getCardHistory" resultType="com.chagok.apiDomain.CardHistoryVO">
		select * from card_history where card_id = #{card_id}
	</select>
	
	<select id="getAccountHistory" resultType="com.chagok.apiDomain.AccountHistoryVO">
		select * from account_history where fintech_use_num = #{fintech_use_num} 
		order by tran_date desc
	</select>
	
  </mapper>