<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.chagok.mapper.chagokMapper">
  
  	<!-- 시간정보 조회  -->
  	<select id="getTime" resultType="string">
  		select now()
  	</select>
  
  	<!-- 회원가입 -->
	<insert id="createUser">
		insert into user(id,pw,nick) 
		values(#{id},#{pw},#{nick})
	</insert>
	
	<!-- 회원가입 아이디 체크  -->
	<select id="checkId" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE id = #{id}
		]]>
	</select>
	
	<!-- 회원가입 닉네임 체크  -->
	<select id="checkNick" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE nick = #{nick}
		]]>
	</select>
	
	<!-- 특정회원정보 조회(id 사용) -->
	<select id="getUser" resultType="com.chagok.domain.UserVO">
		select * from user where id=#{id} 
	</select>
	
	<!-- 특정회원정보 조회(mno 사용) -->
	<select id="getUserM" resultType="com.chagok.domain.UserVO">
		select * from user where mno=#{mno} 
	</select>
	
	<!-- 로그인 처리 -->
	<select id="loginUserCheck" resultType="com.chagok.domain.UserVO">
		select * from user
		where id=#{id} and pw=#{pw}
	</select>
	
  	<!--  챌린지 정보 가져오기  -->
	<select id="getChallengeInfo" resultType="com.chagok.domain.ChallengeVO">
	select * from challenge where cno = #{cno}
	</select>
	
	<!-- ct_top만 가져오기 -->
	<select id="getCt_top" resultType="com.chagok.domain.ChallengeVO">
	select ct_top from category where ctno=(select ctno from challenge where cno = #{cno})
	</select>
	
	<!-- [저축형]챌린지 참가자 조회-->
	<select id="getPlusPeople" resultType="map">
		select * from plus p inner join user u
		where cno = #{cno} and p.mno = u.mno
	</select>

	<!-- 후기글 작성 -->
	<insert id="create">
		insert into board (cno,b_title,b_content,b_writer,b_sort)
		values (#{cno},#{b_title},#{b_content},#{b_writer},#{b_sort})
	</insert>
	
   <!-- 내 챌린지 정보 가져오기 -->
   <select id="getmyChallenge" resultType="com.chagok.domain.ChallengeVO">
   select * from challenge A join category B
   on A.ctno = B.ctno
   where c_person like concat('%',#{nick},'%')
   </select>
   
    <!-- 챌린지 신청 취소 닉네임 잘라내고 c_cnt-1 (콤마는 앞에서 연결해서 nick으로 받아줄 것)-->
    <update id="cancelChallenge" parameterType="map">
   		update challenge set c_person = replace(c_person,#{nick},''), 
   		c_cnt = c_cnt-1
   		where cno=#{cno};
    </update>
    
    <!-- 저축형 챌린지 신청취소  -->
    <delete id="cancelPlus" parameterType="map">
    	delete from plus where mno=#{mno} and cno=#{cno};
    </delete>
    
    <!-- 절약형 챌린지 신청 취소 -->
    <delete id="cancelMinus" parameterType="map">
    	delete from minus where mno=#{mno} and cno=#{cno};
    </delete>
	
	<!-- [절약형]챌린지 참가자 조회-->
	<select id="getMinusPeople" resultType="map">
		select * from minus m inner join user u
		where cno = #{cno} and m.mno = u.mno
	</select>

	<!-- 게시글 리스트(카테고리) -->
<!-- 	<select id="boardList" resultType="com.chagok.domain.BoardVO"> -->
<!-- 		select * from board -->
<!-- 		where b_sort = #{b_sort} -->
<!-- 	</select> -->
	<!-- 게시글 리스트(카테고리) , 내림차순 -->
	<select id="boardList" resultType="com.chagok.domain.BoardVO">
		select * from board
		where b_sort = #{b_sort}
		order by b_date desc
	</select>
	
	<!-- 게시글 확인 -->
	<select id="board" resultType="com.chagok.domain.BoardVO">
		select * from board
		where bno = #{bno}
	</select>
	
	<!-- 중복된 챌린지(카테고리) 확인 -->	
	<select id="samechallenge" resultType="Integer">
	    select ctno from plus p right join challenge c 
		on c.cno = p.cno left join minus m on m.cno = c.cno
	    where (c.cno = m.cno or c.cno = p.cno) and ( p.mno = #{mno} OR m.mno = #{mno} )and ctno = #{ctno};
	</select>
	
	<!-- 챌린지 리스트(인원수 조회) -->
	<select id="CList" resultType="int">
		select count(*) 
		from plus p right join challenge c on c.cno = p.cno left join minus m on m.cno = c.cno
		where c.cno = #{cno};
	</select>
	
	<!-- 저축형 챌린지 참여 - plus테이블에 mno랑 cno insert -->
	<insert id="joinplusInsert" parameterType="map">
		insert into plus(mno,cno) values(#{mno},#{cno});
	</insert>
	
	<!-- 저축형&절약형 챌린지 참여 - challenge테이블 c_person에 ",닉네임" 업데이트하기 -->
	<update id="joinplusUpdate" parameterType="map">
		update challenge set c_person = concat(c_person, ',', (select nick from user where mno=#{mno})),
		c_cnt=c_cnt+1
		where cno=#{cno};
	</update>
	
	<!-- 절약형 챌린지 참여 - minus 테이블에 mno랑 cno insert -->
	<insert id="joinminusInsert" parameterType="map">
		insert into minus(mno,cno) values(#{mno},#{cno});
	</insert>
	<!-- 성공/실패 -->
<!-- 	<select id=""> -->
<!-- 		select * from challenge  -->
<!-- 	</select> -->
<!-- 	<insert id="joinplus" parameterType="com.chagok.domain.PlusVO"> -->
<!-- 		insert into plus(plcno,mno,cno,pl_finish,pl_cnt,pl_sum)  -->
<!-- 		values(#{plcno},#{mno},#{cno},#{pl_finish},#{pl_cnt},#{pl_sum})  -->
<!-- 	</insert> -->
	
	<!-- 챌린지 종료일자 정보 가져오기  -->
	<select id="getChallengeEndDate" resultType="date">
		select distinct(date_add(c_start, interval c_period week)) c_end 
		from challenge c
		where c.cno = #{cno}
	</select>
	
	<!-- 챌린지 등록하기 --> 
  	<insert id="challengeRegist">
     	insert into challenge (cno,c_title,ctno,c_period,c_start,c_pcnt,c_deposit,c_freq,c_amount,c_content,c_status,c_sort,c_min,c_file,c_thumbFile,c_cnt,mno,c_person) 
     	values (#{cno},#{c_title},#{ctno},#{c_period},#{c_start},#{c_pcnt},#{c_deposit},#{c_freq},#{c_amount},#{c_content},#{c_status},#{c_sort},#{c_min},#{c_file},#{c_thumbFile},#{c_cnt},#{mno},#{c_person})  
  	</insert>
  	
  	<!-- 챌린지 목록 -->
  	<select id="getChallengeList" resultType="com.chagok.domain.ChallengeVO">
     	select * from challenge ch join category c
		where ch.ctno = c.ctno;
  	</select>
  	
  	<!-- ischeck 업데이트 -->
	<update id="updateIsCheck">
		update user set isCheck = "Y" where mno = #{mno}
	</update>
	
	<!-- 게시판 글 수정 -->
	<update id="updateBoard">
		update board set b_title=#{b_title}, b_content=#{b_content}, b_file=#{b_file}
		where bno = #{bno}
	</update>
	
	<!-- 게시판 글 삭제 -->
	<delete id="deleteBoard">
		delete from board
		where bno = #{bno}
	</delete>
	
	<!-- 게시글 작성 (cno X) -->
	<insert id = "insertBoard">
		insert into board (b_title,b_content,b_writer,b_sort,b_file)
		values (#{b_title},#{b_content},#{b_writer},#{b_sort},#{b_file})	
	</insert>
	
		<!-- 챌린지 모인 꿀머니 -->
	<select id="challengemoney" resultType="int">
		select c_deposit * c_cnt 
		from challenge
		where cno = #{cno}
	</select>
		
	<!-- 챌린지 실패/성공조건 데이터 조회 -->
	<select id="result" resultType="map">
		select *
		from plus p right join challenge c on c.cno = p.cno left join minus m on m.cno = c.cno
		where c.cno = #{cno}
	</select>
	
	<!-- 챌린지 성공 인원 -->
	<select id="success" resultType="Integer">
		select count(m_finish) + count(pl_finish)
		from plus p right join challenge c on c.cno = p.cno left join minus m on m.cno=c.cno
		where c.cno = #{cno} and (pl_finish = 'Y' or m_finish = 'Y')
	</select>
	
	
	
	<!-- 명예의 전당 순위 -->
	<select id="ranking" resultType="com.chagok.domain.UserVO">
		select * from user
		order by success_cnt desc  
	</select>
	<!-- userseqno 업데이트 -->
	<update id="updateSeqNo">
		update user set user_seq_no = #{user_seq_no} where mno = #{mno}
	</update>
	
	<!-- 유저 정보 업데이트 -->
	<update id="updateUserInfo">
		update user set tel = #{tel}, rname = #{rname}, raccount = #{raccount}, rbank = #{rbank} where mno = #{mno}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="unregistUser">
		delete from user where mno = #{mno} and pw = #{pw}
	</delete>
	
	<!-- 검색1 -->
	<select id="cList" resultType="com.chagok.domain.ChallengeVO" parameterType="com.chagok.domain.SearchCriteria">
		SELECT  *
		 	FROM ( 
		      	  SELECT *
               		FROM  ( select cno, ch.ctno ctno, c_title, c_file, c_pcnt, c_period, c_start, c_deposit, c_content, c_person, mno, c_freq, c_sort, c_amount, c_total, c_min, c_status, c_thumbFile, c_cnt, ct_top, ct_bottom, 
		            	   ROW_NUMBER() OVER(ORDER BY cno) AS RNUM
							from challenge ch join category c
							where ch.ctno = c.ctno) AP
		         	WHERE 1=1 
		         		<include refid="search"></include>
		           							            ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY cno
	</select>
	
	<!-- 검색2 -->
	<select id="cListCount" resultType="Integer" parameterType="com.chagok.domain.SearchCriteria">
		SELECT COUNT(cno)
		   FROM challenge
		   WHERE 1=1
		<include refid="search"></include>	
		   AND cno > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'c_title'.toString()">AND c_title LIKE CONCAT('%', #{keyword}, '%')</if>
			<if test="searchType == 'c_content'.toString()">AND c_content LIKE CONCAT('%', #{keyword}, '%')</if>
<!-- 			<if test="searchType == 'c_host'.toString()">AND c_host LIKE CONCAT('%', #{keyword}, '%')</if> -->
			<if test="searchType == 'c_titlec_content'.toString()">AND (c_title LIKE CONCAT('%', #{keyword}, '%')) or (c_content LIKE CONCAT('%', #{keyword}, '%'))</if>
		</if>
	</sql>
	

<!-- 	챌린지 성공여부 (절약형) -->
	<select id="getMoney" resultType="ChallengeVO">
		select * from challenge c right join minus m on c.cno = m.cno
		where c.cno=#{cno} and m.mno = #{mno}
	</select>
	
<!-- 	가계부 가져오기 -->
	<select id="getMinusAbook" resultType="map">
		select * from account_book a right join challenge c on a.mno = c.mno
		left join category ca on a.ctno=ca.ctno
		where c.cno=1 and a.ctno = c.ctno
	</select>


	<!-- 게시판과 챌린지 -->
	<select id="boardChallenge" resultType="map">
		select *
		from challenge c inner join board b
		where bno = #{bno} and b.cno = c.cno
	</select>
	
<!-- 	가계부 값 연동하기  -->
	<update id="updateMoney">
		update minus set m_sum =
		(select m_sum-#{ab_amount} from (select * from minus) m where m.mno = #{mno})
		where mno = #{mno} and cno = #{cno}
	</update>
	
	<!-- 지난 메시지 가져오기   -->
	<select id="getMsgList" resultType="com.chagok.domain.FeedDTO">
		select * from feed where cno = #{cno}
	</select>
	
	<!-- 알림 저장 -->
	<insert id="alert">
		insert into alert(cno, a_receive, a_content) values(#{cno}, #{a_receive}, #{a_content});
	</insert>
	
	<!-- 메시지 저장  -->
	<insert id="saveMsg1">
		insert into feed(contents, f_date, f_receive, cno) values(#{contents}, #{f_date}, #{f_receive}, #{cno});
	</insert>
	
	<!-- 챌린지 등록하기 참여자 닉네임 추가-->
	<update id="getchallengeNick" parameterType="com.chagok.domain.ChallengeVO">
		update challenge set c_person = concat(c_person, ',', (select nick from user where mno=#{mno})),
		c_cnt=c_cnt+1
		where cno=#{cno};
	</update>

	<!-- 페이징처리 공지게시판 한 페이지당 최대갯수 -->
	<select id="nboardPage" resultType="com.chagok.domain.BoardVO">
	  <![CDATA[
		select * from board
		where b_sort = 2
		order by bno desc, b_date desc
		limit #{page},10
		]]>
	</select>
	
	<!-- 페이징처리 공지게시판 페이지 넘버 -->
	<select id="nboardPageNo" resultType="com.chagok.domain.BoardVO">
	  <![CDATA[
		select * from board
		where b_sort = 2
		order by bno desc, b_date desc
		limit #{pageStart},#{perPageNum}
		]]>
	</select>
	
	<!-- 공지게시판 글 전체 개수 -->
	<select id="nboardCount" resultType="int">
		select count(*) 
		from board
		where b_sort= 2
	</select>
	
	<!-- 페이징처리 후기게시판 한 페이지당 최대갯수 -->
	<select id="rboardPage" resultType="com.chagok.domain.BoardVO">
	  <![CDATA[
		select * from board b inner join challenge c
		where b_sort = 1 and b.cno = c.cno
		order by bno desc, b_date desc
		limit #{page},10;
		]]>
	</select>
	
	<!-- 페이징처리 후기게시판 페이지 넘버 -->
	<select id="rboardPageNo" resultType="com.chagok.domain.BoardVO">
	  <![CDATA[
		select * from board b inner join challenge c
		where b_sort = 1 and b.cno = c.cno
		order by bno desc, b_date desc
		limit #{pageStart},#{perPageNum};
		]]>
	</select>
	
	<!-- 후기게시판 글 전체 개수 -->
	<select id="rboardCount" resultType="int">
		select count(*) 
		from board
		where b_sort= 1
	</select>
	
	<!-- 관리자 챌린지 승인 -->
	<update id="confirmChallenge">
		update challenge set c_status=#{c_status}
		where cno = #{cno}
	</update>
	
	<!-- 관리자 모달창 회원mno -->
	<select id="adminmodal">
		select * from user 
		where mno = #{mno}
	</select>
	
 	<!-- 관리자 챌린지 승인거절 --> 
<!-- 	<update id="confirmChallenge"> -->
<!-- 		update challenge set c_status=6 -->
<!-- 		where cno = #{cno} -->
<!-- 	</update> -->

	<!-- 비지니스 계좌 입금(송금) -->
	<insert id="sendBiz">
		insert into business_account(biz_inout, biz_amount, mno, biz_holder_name, biz_balance, cno) 
		values(#{biz_inout}, #{biz_amount}, #{mno}, #{biz_holder_name}, #{biz_balance}+#{biz_amount}, #{cno})
	</insert>
	
	<!-- 가장 최근 비즈니스 계좌 1개 조회 -->
	<select id="selectBizOne" resultType="com.chagok.domain.BusinessAccountVO">
		select * from business_account order by bizno desc limit 1
	</select>

	<!-- 비즈니스 계좌 입금시 plus 테이블 pl_sum 업데이트 -->
	<update id="updatePlusSum">
		update plus set pl_sum=(select pl_sum where mno = #{mno} and cno = #{cno})+#{biz_amount}, 
		pl_cnt=(select pl_cnt where mno = #{mno} and cno = #{cno}) + 1 
		where mno = #{mno} and cno = #{cno}
	</update>
	

	<!-- 게시판과 챌린지 (후기보드리스트용) -->
	<select id="rboardChallenge" resultType="map">
		select *
		from challenge c inner join board b
		where b_sort = 1 and b.cno = c.cno
	</select>

	<!-- plus 테이블 내 정보 가져오기 -->
	<select id="getPlusOne" resultType="com.chagok.domain.PlusVO">
		select * from plus where mno = #{mno} and cno = #{cno}
	</select>
	
	<!-- 관리자 회원 정보  -->
	<select id="getUserList" resultType="com.chagok.domain.UserVO">
		select * from user
	</select>
	
	<!-- 챌린지목록(페이징처리) -->
	<select id="chList" resultType="com.chagok.domain.ChallengeVO">
		select * from challenge ch join category c
		on ch.ctno = c.ctno
		order by cno desc
		limit #{pageStart}, #{perPageNum};
	</select>

	<!-- 페이징처리 자유게시판 한 페이지당 최대갯수 -->
	<select id="fboardPage" resultType="com.chagok.domain.BoardVO">
	  <![CDATA[
		select * from board
		where b_sort = 3
		order by bno desc, b_date desc
		limit #{page},10
		]]>
	</select>
	
	<!-- 페이징처리 공지게시판 페이지 넘버 -->
	<select id="fboardPageNo" resultType="com.chagok.domain.BoardVO">
	  <![CDATA[
		select * from board
		where b_sort = 3
		order by bno desc, b_date desc
		limit #{pageStart},#{perPageNum}
		]]>
	</select>	

	<!-- 공지게시판 글 전체 개수 -->
	<select id="fboardCount" resultType="int">
		select count(*) 
		from board
		where b_sort= 3
	</select>	
 </mapper>
