<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.chagok.mapper.chagokMapper">
  
  	<!-- 시간정보 조회  -->
  	<select id="getTime" resultType="string">
  		select now()
  	</select>
  
  	<!-- 회원가입 -->
	<insert id="createUser">
		insert into user(id,pw,nick) 
		values(#{id},#{pw},#{nick})
	</insert>
	
	<!-- 회원가입 아이디 체크  -->
	<select id="checkId" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE id = #{id}
		]]>
	</select>
	
	<!-- 회원가입 닉네임 체크  -->
	<select id="checkNick" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE nick = #{nick}
		]]>
	</select>
	
	<!-- 특정회원정보 조회(id 사용) -->
	<select id="getUser" resultType="com.chagok.domain.UserVO">
		select * from user where id=#{id} 
	</select>
	
	<!-- 특정회원정보 조회(mno 사용) -->
	<select id="getUserM" resultType="com.chagok.domain.UserVO">
		select * from user where mno=#{mno} 
	</select>
	
	<!-- 로그인 처리 -->
	<select id="loginUserCheck" resultType="com.chagok.domain.UserVO">
		select * from user
		where id=#{id} and pw=#{pw}
	</select>
	
  	<!--  챌린지 정보 가져오기  -->
	<select id="getChallengeInfo" resultType="com.chagok.domain.ChallengeVO">
	select * from challenge where cno = #{cno}
	</select>
	
	<!-- ct_top만 가져오기 -->
	<select id="getCt_top" resultType="com.chagok.domain.ChallengeVO">
	select ct_top from category where ctno=(select ctno from challenge where cno = #{cno})
	</select>
	
	<!-- [저축형]챌린지 참가자 조회-->
	<select id="getPlusPeople" resultType="map">
		select * from plus p inner join user u
		where cno = #{cno} and p.mno = u.mno
	</select>

	<!-- 후기글 작성 -->
	<insert id="create">
		insert into board (cno,b_title,b_content,b_writer,b_sort)
		values (#{cno},#{b_title},#{b_content},#{b_writer},#{b_sort})
	</insert>
	
   <!-- 내 챌린지 정보 가져오기 -->
   <select id="getmyChallenge" resultType="com.chagok.domain.ChallengeVO">
   select * from challenge A join category B
   on A.ctno = B.ctno
   where c_person like concat('%',#{nick},'%')
   </select>
   
    <!-- 챌린지 신청 취소 닉네임 잘라내기-->
    <update id="cancelChallenge" parameterType="map">
   		update challenge set c_person = replace(c_person,#{nick},'') where cno=#{cno};
    </update>
    
    <!-- 저축형 챌린지 신청취소  -->
    <delete id="cancelPlus" parameterType="map">
    	delete from plus where mno=#{mno} and cno=#{cno};
    </delete>
    
    <!-- 절약형 챌린지 신청 취소 -->
    <delete id="cancelMinus" parameterType="map">
    	delete from minus where mno=#{mno} and cno=#{cno};
    </delete>
	
	<!-- [절약형]챌린지 참가자 조회-->
	<select id="getMinusPeople" resultType="map">
		select * from minus m inner join user u
		where cno = #{cno} and m.mno = u.mno
	</select>

	<!-- 게시글 리스트(카테고리) -->
	<select id="boardList" resultType="com.chagok.domain.BoardVO">
		select * from board
		where b_sort = #{b_sort}
	</select>

	<!-- 게시글 확인 -->
	<select id="board" resultType="com.chagok.domain.BoardVO">
		select * from board 
		where bno = #{bno}
	</select>
	
	<!-- 중복된 챌린지(카테고리) 확인 -->	
	<select id="samechallenge" resultType="Integer">
	    select distinct ctno from plus p right join challenge c 
		on c.cno = p.cno left join minus m on m.cno = c.cno
	    where  (c.cno = m.cno or c.cno = p.cno) and ( p.mno = #{mno} OR m.mno = #{mno} )and ctno = #{ctno};
	</select>
	
	<!-- 챌린지 리스트(인원수 조회) -->
	<select id="CList" resultType="int">
		select count(*) 
		from plus p right join challenge c on c.cno = p.cno left join minus m on m.cno = c.cno
		where c.cno = #{cno};
	</select>
	
	<!-- 저축형 챌린지 참여 - plus테이블에 mno랑 cno insert -->
	<insert id="joinplusInsert" parameterType="map">
		insert into plus(mno,cno) values(#{mno},#{cno});
	</insert>
	
	<!-- 저축형&절약형 챌린지 참여 - challenge테이블 c_person에 ",닉네임" 업데이트하기 -->
	<update id="joinplusUpdate" parameterType="map">
		update challenge set c_person = concat(c_person, ',', (select nick from user where mno=#{mno})),
		c_cnt=c_cnt+1
		where cno=#{cno};
	</update>
	
	<!-- 절약형 챌린지 참여 - minus 테이블에 mno랑 cno insert -->
	<insert id="joinminusInsert" parameterType="map">
		insert into minus(mno,cno) values(#{mno},#{cno});
	</insert>
	
	<!-- 챌린지 종료일자 정보 가져오기  -->
	<select id="getChallengeEndDate" resultType="date">
		select distinct(date_add(c_start, interval c_period week)) c_end 
		from challenge c
		where c.cno = #{cno}
	</select>
	
	<!-- 챌린지 등록하기 --> 
  	<insert id="challengeRegist">
     	insert into challenge (c_title,ctno,c_period,c_start,c_pcnt,c_deposit,c_freq,c_amount,c_content,c_status,c_sort,c_min,c_file,c_thumbFile) 
     	values (#{c_title},#{ctno},#{c_period},#{c_start},#{c_pcnt},#{c_deposit},#{c_freq},#{c_amount},#{c_content},#{c_status},#{c_sort},#{c_min},#{c_file},#{c_thumbFile})  
  	</insert>
  	
  	<!-- 챌린지 목록 -->
  	<select id="getChallengeList" resultType="com.chagok.domain.ChallengeVO">
     	select * from challenge ch join category c
		where ch.ctno = c.ctno;
  	</select>
  	
	<update id="updateIsCheck">
		update user set isCheck = "Y" where mno = #{mno}
	</update>
	
	<!-- 게시판 글 수정 -->
	<update id="updateBoard">
		update board set b_title=#{b_title}, b_content=#{b_content}, b_file=#{b_file}
		where bno = #{bno}
	</update>
	
	<!-- 게시판 글 삭제 -->
	<delete id="deleteBoard">
		delete from board
		where bno = #{bno}
	</delete>
	
	<!-- 게시글 작성 (cno X) -->
	<insert id = "insertBoard">
		insert into board (b_title,b_content,b_writer,b_sort,b_file)
		values (#{b_title},#{b_content},#{b_writer},#{b_sort},#{b_file})	
	</insert>
	
		<!-- 챌린지 모인 꿀머니 -->
	<select id="challengemoney" resultType="int">
		select c_deposit * c_cnt 
		from challenge
		where cno = #{cno}
	</select>
		
	<!-- 챌린지 실패/성공조건 데이터 조회 -->
	<select id="result" resultType="map">
		select *
		from plus p right join challenge c on c.cno = p.cno left join minus m on m.cno = c.cno
		where c.cno = #{cno}
	</select>
	
	<!-- 챌린지 성공 인원 -->
	<select id="success" resultType="Integer">
		select count(m_finish) + count(pl_finish)
		from plus p right join challenge c on c.cno = p.cno left join minus m on m.cno=c.cno
		where c.cno = 2 and (pl_finish = 'Y' or m_finish = 'Y')
	</select>
	
	
	
	<!-- 명예의 전당 순위 -->
	<select id="ranking" resultType="com.chagok.domain.UserVO">
		select * from user
		order by success_cnt desc  
	</select>
	
	<!-- 검색1 -->
	<select id="cList" resultType="com.chagok.domain.ChallengeVO" parameterType="com.chagok.domain.SearchCriteria">
		SELECT  *
		 FROM ( 
		        SELECT *, 
		               ROW_NUMBER() OVER(ORDER BY cno DESC) AS RNUM
		         FROM challenge 
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY cno DESC
	</select>
	
	<!-- 검색2 -->
	<select id="cListCount" resultType="Integer" parameterType="com.chagok.domain.SearchCriteria">
		SELECT COUNT(cno)
		   FROM challenge
		   WHERE 1=1
		<include refid="search"></include>	
		   AND cno > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'c_t'.toString()">AND c_title LIKE CONCAT('%' || #{keyword} || '%')</if>
			<if test="searchType == 'c_co'.toString()">AND c_content LIKE CONCAT('%' || #{keyword} || '%')</if>
			<if test="searchType == 'c_h'.toString()">AND c_host LIKE CONCAT('%' || #{keyword} || '%')</if>
			<if test="searchType == 'c_tc_co'.toString()">AND (c_title LIKE CONCAT('%' || #{keyword} || '%')) or (c_content LIKE CONCAT('%' || #{keyword} || '%'))</if>
		</if>
	</sql>
	
  </mapper>