<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.chagok.mapper.chagokMapper">
  
  	<!-- 시간정보 조회  -->
  	<select id="getTime" resultType="string">
  		select now()
  	</select>
  
  	<!-- 회원가입 -->
	<insert id="createUser">
		insert into user(id,pw,nick) 
		values(#{id},#{pw},#{nick})
	</insert>
	
	<!-- 회원가입 아이디 체크  -->
	<select id="checkId" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE id = #{id}
		]]>
	</select>
	
	<!-- 회원가입 닉네임 체크  -->
	<select id="checkNick" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE nick = #{nick}
		]]>
	</select>
	
	<!-- 특정회원정보 조회 -->
	<select id="getUser" resultType="com.chagok.domain.UserVO">
		select * from user where id=#{id} 
	</select>
	
	<!-- 로그인 처리 -->
	<select id="loginUser" resultType="com.chagok.domain.UserVO">
		select * from user
		where id=#{id} and pw=#{pw}
	</select>
  	
  	<!--  챌린지 정보 가져오기  -->
	<select id="getChallengeInfo" resultType="com.chagok.domain.ChallengeVO">
	select * from challenge where cno = #{cno}
	</select>
	
	<!-- ct_top만 가져오기 -->
	<select id="getCt_top" resultType="com.chagok.domain.ChallengeVO">
	select ct_top from category where ctno=(select ctno from challenge where cno = #{cno})
	</select>
	
	<!-- [저축형]챌린지 참가자 조회-->
	<select id="getPlusPeople" resultType="com.chagok.domain.PlusVO">
		select * from plus p inner join user u
		where cno = #{cno} and p.mno = u.mno
	</select>

	<!-- 후기글 작성 -->
	<insert id="create">
		insert into board (cno,b_title,b_content,b_writer,b_sort)
		values (#{cno},#{b_title},#{b_content},#{b_writer},#{b_sort})
	</insert>
	
	<!-- 내 챌린지 정보 가져오기 -->
	<select id="getmyChallenge" resultType="com.chagok.domain.ChallengeVO">
	select * from challenge A join category B
	on A.ctno = B.ctno
	where c_person like concat('%',#{nick},'%')
	</select>
	
	<!-- [절약형]챌린지 참가자 조회-->
	<select id="getMinusPeople" resultType="com.chagok.domain.MinusVO">
		select * from minus m inner join user u
		where cno = #{cno} and m.mno = u.mno
	</select>
	
	
	
	
	
	
	
		
  </mapper>